$white: #FFFFFF;
$black: #000000;
$textGrey: #676a6c;
$textActive: #495057;
$textNonactive: #a7b1c2;
$darkGrey: #212529;
$defaultGrey: #333333;
$defaultBorder: #e7eaec;
$defaultBorderHover: #d2d2d2;
$defaultBackground: #f5f5f5;
$primary: #1ab394;
$primaryHover: #18a689;
$success: #1c84c6;
$successHover: #1a7bb9;
$info: #23c6c8;
$infoHover: #21b9bb;
$warning: #f8ac59;
$warningHover: #f7a54a;
$danger: #ed5565;
$dangerHover: #ec4758;